<div id="divDataEditor">
    <div id="divDataEdit">
    </div>
    <div id="divDataGridBtns">
        <button id="btnAddRow" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
        <div id="btnUploadGroup" class="form-group pull-right">
            <!--<button id="btnUploadCSV" type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-circle-arrow-up"></span></button>-->
            <label id="lblUpload" for="dsdFUpload">Upload</label>
            <input type="file" name="filename" id="dsdFUpload" />
        </div>
        
    </div>
</div>
<div id="divValRes" style="display: none">
</div>