<div id="divDataGrid">
    <table id="tblData" class="table table-bordered table-condensed">
        <thead>
            <tr id="tblDataHead"></tr>
        </thead>
        <tbody id="tblDataBody"></tbody>
    </table>
</div>