<div id="divRowEditorPopup" class="modal" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <table id="tblRowEditor">
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button id="btnEditRowCanc" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
                <button id="btnEditRowOk" type="button" class="btn btn-primary fx-button-primary-color"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>
    </div>
</div>
<div id="divDataGrid">
    <table id="tblData" class="table table-bordered table-condensed">
        <thead>
            <tr id="tblDataHead"></tr>
        </thead>
        <tbody id="tblDataBody"></tbody>
    </table>
</div>